<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

    <body>
        <%- include('../../layout/header') %>

            <main>
                <section id="results">Search Results</section>

                <% searchResults.forEach(book=>{ %>
                    <section class="book-template">
                        <p>Title:<%= book.title %>
                        </p> <br>
                        <img src="<%= book.image_url %>"><br>
                        <p>Autor: <%= book.author %>
                        </p><br>
                        <p>Description: <%= book.description %>
                        </p> <br>

                        <form action='/books' method="POST">
                            <input name="title" value="<%= book.title %>" class="hidden">
                            <input name="author" value="<%= book.author %>" class="hidden">
                            <input name="description" value="<%= book.description %>" class="hidden">
                            <input name="image_url" value="<%= book.image_url %>" class="hidden">
                            <input name="isbn" value="<%= book.isbn %>" class="hidden">

                            <input name="shelf" value="<%= book.shelf %>" class="hidden">
                            <button id="addbutton" type="submit">Select This Book</button>
                        </form>
                    </section>

                    <% }); %>





            </main>

    </body>

</html>