<html lang="en">
<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>

    <main>
        <section>
            <% booksList.forEach(book => { %>
                <section id="homePageBooks">
                    <p><br>Title: <%= book.title %></p><br><br>
                    <img src="<%= book.image_url %>"><br><br>
                    <p>Author: <%= book.author %></p><br><br>
                    <p>ISBN: <%= book.isbn %></p><br><br>
                    <p id="description"><p id="des">Description: </p> <br><br><%= book.description %></p><br>
                    <p >Number of books in your bookshelf: <%= booksCount %></p>
                   
                </section>
                <% }); %>
        </section>
       
   
        
    </main>
</body>
</html>