<html lang="en">
<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>

    <main>
        <section id="card">
            <% booksList.forEach(book => { %>
                <section id="homePageBooks">
                    <p><br>Title: <%= book.title %></p><br><br>
                    <img src="<%= book.image_url %>"><br><br>
                    <p>Author: <%= book.author %></p><br><br>
                    <a href='/books/<%= book.id %>' target="_blank" rel="noopener noreferrer">View details</a>
                    
                </section>
                <br>
                <% }); %>
                
                <section id="shelf" >Number of books in your bookshelf: <%= booksCount %></section>
       
   
        
    </main>
</body>
</html>